footer.text-center
  .container
    .list.list1
      h5 About Us
      ul
        li
          a(href='about.html') About Vision
        li
          a(href='about.html?5') Service Team
        li
          a(href='about.html?6') Partner
    .list.list2
      h5 Services
      ul
        li
          a(href='service.html') Service Items
        li
          a(href='question.html') Questions
    .list.list3
      h5 Contact
      ul
        li
          a(href='contact.html') Contact Us
        li
          a(href='job.html') Recruitment
    hr
    ul.information
      li 10F.-2 No.560, Sec.4, Zhongxiao E. Rd., Xinyi Dist., Taipei City 11071, Taiwan.
      li TEL：+886-2-2758-7126    &nbsp;&nbsp;&nbsp;FAX：+886-2-2758–7100
      li
        a#mail(href='contact.html') Customer service mailbox please click here
      br
      p Vision International C.P.A. Firm Copyright © 2018 All Rights Reserved.