doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width initial-scale=1.0')
    //meta(name='viewport' content='width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no')
    meta(name='description' content='Vision International C.P.A. Firm')
    meta(name='keywords' content='Vision International C.P.A. Firm')
    meta(name='author' content='Bohan Huang')
    link(rel='shortcut icon' href='../img/logo.ico')
    title Vision International C.P.A. Firm
    link(rel='stylesheet' href='../plugins/bootstrap-3.3.1-24/css/bootstrap.min.css')
    link(rel='stylesheet' href='../css/about.css?v=180511')
    | <!--[if lt IE 9]>
    |   <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    |   <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    | <![endif]-->
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-119593980-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-119593980-1');

  body

    //gotop
    #gotop
      i.glyphicon.glyphicon-menu-up

    //nav
    .nav
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
              span.sr-only menu change
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='../index.html')
              .logo
                h1 Vision International C.P.A. Firm
          // 手機隱藏選單區
          .collapse.navbar-collapse.navbar-ex1-collapse
            // 右選單
            ul.nav.navbar-nav.navbar-right
              li
                a(href='../index.html') Home
              li
                a(href='service.html') Service Items
              li.active
                a(href='about.html') About Vision
              li
                a(href='question.html') Questions
              li
                a.contacta(href='contact.html') Contact Us
                  i.glyphicon.glyphicon-envelope
              li#lang
                a(href='../../html/about.html') 中文
          // 手機隱藏選單區結束

    //breadcrumb
    .bread
      .container
        ul.breadcrumb
          li
            img(src='../img/icon_home.png',alt='Home')
            a(href='../index.html') Home
          li.active
            a(href='about.html') About Vision

    //header
    header
      .slideshow
        img.img.show(src='../img/about_bg_01.jpg',alt='About Vision')
        img.img(src='../img/about_bg_02.jpg',alt='Service Team')
        img.img(src='../img/about_bg_03.jpg',alt='Partner')

    //main
    main.text-center
      .tab
        .container
          .service_btn.service1_btn.active
            .icon.icon1
            h3 About Vision
          .service_btn.service2_btn
            .icon.icon2
            h3 Service Team
          .service_btn.service3_btn
            .icon.icon3
            h3 Partner

      .container
        .about
          .about1
            h2 About Vision
            .row.text-left
              p Vision was founded in September 2010. The founder, Mr. Danny Wu, has more than 15years of experiences in domestic and foreign industries.  Vision focus on the core of enterprise problems, provides high-quality as well as full-service in order to assist companies with improving their managerial capacity and competitiveness.
              br
              p Our team is able to communicate with customers in both Chinese and English directly.  Our services not only include in business registration, financial audit, bookkeeping, tax planning, but also in business mergers, business negotiations, crisis management, and strategic planning, investment assessment, corporate restructuring, corporate governance, on-line-business, and so on.
              br
              p Because of the cross-strait business boom and Taiwan government’s New Southbound Policy, Vision has endeavored to help our customers redefine their business core values, analyze the business strategies in order to face the unpredictable business environment.  Our goal is to inspire our clients to see the future and to create miracle.
            .service
              .container
                .items
                  .col-sm-6
                    .border
                      img(src='../img/about_icon_1.png',alt='Professional Consultation')
                      h3 Professional Consultation
                      hr
                      p.text-left Vision is able to deeply understand the requirements of clients.  No matter how difficult clients’ problems are, with professional knowledge and much experience, Vision will endeavor to solve above issues.

                  .col-sm-6
                    .border
                      img(src='../img/about_icon_2.png',alt='Efficient Services')
                      h3 Efficient Services
                      hr
                      p.text-left With much experience and high technologic tools, Vision will figure out a short cut to simplify as well as handle with complicated problems.

                  .col-sm-6
                    .border
                      img(src='../img/about_icon_3.png',alt='Resource Integration')
                      h3 Resource Integration
                      hr
                      p.text-left Although we are not versatile firm, Vision is good at coordinating with other expert teams to meet clients’ mission together. 

                  .col-sm-6
                    .border
                      img(src='../img/about_icon_4.png',alt='Reasonable Fee')
                      h3 Reasonable Fee
                      hr
                      p.text-left We always provide well-communication and quotation with potential clients in advance; otherwise, there should be free admission.

          .about2
            h2 Service Team
            .row
              .col-sm-12
                img(src='../img/about_team_01.jpg',alt='所長會計師')
              .col-sm-12
                .teaminfo.text-left
                  span.job Chief Accountant
                  br
                  span.name_ch 吳宗璋
                  span.name_en Danny Wu
                  hr
                  img(src='../img/about_tel.png',alt='')
                  span.tel 02-2758-7126 #801
                  br
                  img(src='../img/about_mail.png',alt='')
                  a.mail(href='mailto:danny.wu@visioncpa.com.tw') danny.wu@visioncpa.com.tw
            .row
              .col-sm-12
                img(src='../img/about_team_02.jpg',alt='經理')
              .col-sm-12
                .teaminfo.text-left
                  span.job Manager
                  br
                  span.name_ch 林育婷
                  span.name_en Tracy Lin
                  hr
                  img(src='../img/about_tel.png',alt='')
                  span.tel 02-2758-7126 #826
                  br
                  img(src='../img/about_mail.png',alt='')
                  a.mail(href='mailto:trancy.lin@visioncpa.com.tw') trancy.lin@visioncpa.com.tw
            .row
              .col-sm-12
                img(src='../img/about_team_02.jpg',alt='經理')
              .col-sm-12
                .teaminfo.text-left
                  span.job Manager
                  br
                  span.name_ch 方建恒
                  span.name_en Kevin Fong
                  hr
                  img(src='../img/about_tel.png',alt='')
                  span.tel 02-2758-7126 #809
                  br
                  img(src='../img/about_mail.png',alt='')
                  a.mail(href='mailto:kevin@visioncpa.com.tw') kevin@visioncpa.com.tw

          .about3.text-center
            h2 Partner
            .partner.text-left
              .row
                img.company_logo(src='../img/about_partner_01.jpg',alt='WE & Partners')
                img.arrow(src='../img/about_partner_arrow.png',alt='')
                .line
                a(href='http://www.weandpartners.com/',target='_blank') WE & Partners
              .row
                img.company_logo(src='../img/about_partner_02.jpg',alt='RICKY CHEUNG & Co.')
                img.arrow(src='../img/about_partner_arrow.png',alt='')
                .line
                a(href='http://www.rccpa.com.hk/zh/about-us_tc/',target='_blank') RICKY CHEUNG & Co.
              .row
                img.company_logo(src='../img/about_partner_03.jpg',alt='Sting Tao')
                img.arrow(src='../img/about_partner_arrow.png',alt='')
                .line
                a(href='https://stingtao.info/about/',target='_blank') Sting Tao
              .row
                img.company_logo(src='../img/about_partner_04.jpg',alt='GROW DIGITAL')
                img.arrow(src='../img/about_partner_arrow.png',alt='')
                .line
                a(href='http://www.growdigi.com/html/about.html',target='_blank') GROW DIGITAL
              .row
                img.company_logo(src='../img/about_partner_05.jpg',alt='SHEN HUA Appraisal')
                img.arrow(src='../img/about_partner_arrow.png',alt='')
                .line
                a(href='http://www.shenhuaappraisal.com/index.html',target='_blank') SHEN HUA Appraisal

    //footer
    include _footer.pug

    //script
    script(src='../js/jquery-2.1.4.min.js')
    //script(src='https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='../plugins/bootstrap-3.3.1-24/js/bootstrap.min.js')
    script(src='../js/index.js')
